.portfolio-manager {
    margin-top: 2em;
}

.portfolio-manager .section-title .title-box {
    color: #FFFFFF;
    background-color: #287DCE;
    box-shadow: .35em .35em rgba(0, 0, 0, 0.1);
}

.portfolio-manager .section-title .title-tail {
    border-top: 1.5em solid #15569C;
}

.portfolio-manager .body {
    margin-left: 1em;
    padding: 1em;
}

.portfolio-manager .portfolio-editor, .portfolio-manager .portfolio-overview {
    float: left;
}

.portfolio-manager .portfolio-editor {
    width: 45%;
    padding-right: 1em;
}

.portfolio-manager .portfolio-overview {
    width: 55%;
    padding-left: 1em;
}

.portfolio-manager .editor-header, .portfolio-manager .editor-body {
    width: 100%;
}

.portfolio-manager .editor-header {
    background-color: #8FB9E7;
    color: white;
    padding: 1em 0;
}

.portfolio-manager .editor-body {
    box-shadow: 0 0 .25em 0 rgba(0, 0, 0, 0.20);
    border-radius: .25em;
    min-height: 5em;
    padding-bottom: 2em;
}

.portfolio-manager .editor-body .scrip-line-item {
    padding: .5em 0;
}

.portfolio-manager .section-stock, .portfolio-manager .section-price, .portfolio-manager .section-shares, .portfolio-manager .section-weight {
    float: left;
    padding: 0.25em;
}

.portfolio-manager .editor-body .section-remove-btn {
    float: left;
}

.portfolio-manager .section-stock {
    width: 30%;
    padding-left: 1em;
}

.portfolio-manager .section-shares {
    width: 22%;
}

.portfolio-manager .section-price, .portfolio-manager .section-weight {
    width: 20%;
}

.portfolio-manager .section-remove-btn {
    float: left;
    width: 8%;
}

.portfolio-manager .editor-body .section-stock {
    padding-left: 1.5em;
    color: #287DCE;
}

.portfolio-manager .editor-body .section-remove-btn {
    position: relative;
    height: 1.25em;
}

.portfolio-manager .editor-body .section-remove-btn button {
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #EE6723;
    color: white;
    text-align: center;
}

.portfolio-manager .editor-header .section-price, .portfolio-manager .editor-header .section-weight {
    text-align: right;
}

.portfolio-manager .editor-header .section-shares {
    text-align: center;
}

.portfolio-manager .editor-body .section-price, .portfolio-manager .editor-body .section-weight {
    text-align: right;
    padding-right: 0.5em;
}

/* +,-,remove Button styles */

.portfolio-manager button {
    position: relative;
    width: 1em;
    min-height: 1em;
}

.portfolio-manager button .btn-text {
    position: absolute;
    font-size: 1em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-manager .section-shares {
    border-radius: .25em;
}

.portfolio-manager .section-shares>* {
    display: block;
    float: left;
    width: 33.33%;
    height: 1.25em;
    border: 1px solid #DDDDDD;
}

.portfolio-manager .section-shares .btn-text {
    color: #287DCE;
}

.portfolio-manager .section-shares .shares-value {
    text-align: center;
}

/* Rupee styling */

.portfolio-manager .rupee-sign {
    font-family: PingFangSC-Light, serif;
}

/* Portfolio Overview */

.portfolio-manager .portfolio-overview .overview-header {
    width: 100%;
    font-size: 1.5em;
    color: #1D70CA;
    margin-top: 0.25em;
    margin-bottom: 1em;
}

.portfolio-manager .overview-body {
    width: 100%;
}

.portfolio-manager .overview-body .overview-chart, .portfolio-manager .overview-body .overview-details {
    float: left;
    width: 50%;
    min-height: 2em;
}

.portfolio-manager .overview-body .overview-details {
    padding-left: 2em;
}

.portfolio-manager .overview-card {
    float: left;
    width: 50%;
    margin-bottom: 1em;
}

.portfolio-manager .overview-card .card-title {
    font-size: 1.25em;
    padding: .5em 0;
    color: #287DCE;
}

.portfolio-manager .overview-card .card-details {
    font-size: 1.75em;
    font-weight: 300;
    padding-left: .25em;
}

.portfolio-manager .overview-details .build-portfolio {
    width: 100%;
    font-size: 1.25em;
    margin: 1em 0;
    padding: 1em;
    background-image: linear-gradient(-90deg, #2BC4DD 0%, #3489D1 100%);
    color: white;
    text-align: center;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.30);
}